<body class="fondo">
<div class="col-lg-8 col-lg-offset-2">
	
	<div class="jumbotron">
		<h1 >{{tittle}}</h1>
		<p> Impulsando negocios</p>
		
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h2 class="my-4">Conocenos</h2>
		</div>
		<div class="col-lg-4 col-sm-6 text-center mb-4">
			<img src="/assets/pymes.png" class="img-circle" width="140" height="140">
			<h3 class="h3-tittle">
				<strong>¿Quiéres saber que hace PyME Conecta?</strong>
			</h3>
			<p class="text-justify">
				PyME Conecta acerca a las micros,pequeñas y medianas empresas a ___ Mediante la reducción de riesgos y el incremento de confianza por parte del inversionista y de la empresa
			</p>
		</div>
		<div class="col-lg-4 col-sm-6 text-center mb-4">
			<img src="/assets/pymes2.jpg" class="img-circle" width="140" height="140">
			<h3 class="h3-tittle">
				<strong>¿Por qué eres importante para nosotros?</strong>
			</h3>
			<p class="text-justify">
				Las PyMEs representan el 98% de las  empresas constituidas del país. Las PyMEs son el principal motor de la economía mexicana
			</p>
		</div>
		<div class="col-lg-4 col-sm-6 text-center mb-4">
			<img src="/assets/pymes3.jpeg" class="img-circle" width="140" height="140">
			<h3 class="h3-tittle">
				<strong>Construyendo un mejor futuro</strong>
			</h3>
			<p class="text-justify">
				PyME Conecta te brindara la mejor opción de credito , para que juntos podamos logras tus metas 
			</p>
		</div>
	</div>
	
	
</div>
</body>