<div class="col-lg-5">
	 <h1 class="h1-str">{{title}}</h1>
	 <div class="alert alert-success" *ngIf="status == 'success'">
	 	Se han actualizado tus datos correctament cx
	 </div>
	 <div class="alert alert-danger" *ngIf="status == 'error'">
	 	no se han podido actualizar tus datos 
	 </div>
	 <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
	 	<p>
	 		<label>Nombre</label>	
	 			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required/>
	 		<span *ngIf="!name.value && name.touched">
	 			EL nombre es obligatorio
	 		</span>
	 	</p>
	 		<p>
	 		<label>Apellidos</label>	
	 			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required/>
	 		<span *ngIf="!surname.value && surname.touched">
	 			Los apellidos son obligatorios
	 		</span>
	 	</p>
	 		<p>
	 		<label>Nick</label>	
	 			<input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required/>
	 		<span *ngIf="!nick.value && nick.touched">
	 			El nick es obligatorio
	 		</span>
	 	</p>
	 	<p>
	 		<label>Correo</label>	
	 			<input type="text" name="email" #email="ngModel" [(ngModel)]="user.email"  class="form-control" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
	 		<span *ngIf="!email.value && email.touched">
	 			EL email es obligatorio
	 		</span>
	 	</p>
	 	<div *ngIf="user.image">
	 		<img src="{{url + 'get-image-user/'+user.image}}"/>
	 	</div>
	 	<p>
	 		<label>Tu foto de perfil</label>
	 		<input type="file" placeholder="Foto de perfil" (change)="fileChangeEvent($event)"/>
	 	</p>
	 	<input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!userEditForm.form.valid">
	 </form>

</div>