/*Generales*/
.h1-strong{
	font-size: 35px;
	font-weight: bold;
	margin: 13px;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.active{
	background: #0ba0da;
	border-bottom: 4px solid black;
}
. pointer{
	cursor: pointer;
}
/* Cabecera*/
.navigation{
	margin: 0px;
	padding: 0px !important;

	

}
.navigation .navbar
*{
	border-radius: 0px !important;
	background: #00b8ff !important;
	border:none;
}
.navigation .navbar *{
	color: white !important;
}
.navigation .navbar a:hover{
	background: #0ba0da !important;
	border-bottom: 4px solid white !important;
}
.navigation .avatar{
	width: 35px;
	height: 35px;
	border-radius: 100px !important;
	overflow: hidden;
	margin-right: 2px;
	margin-top: 9px;
}
.navigation .avatar img{
	height: auto;
	width: 38px;
	}

.jumbotron{
	padding: 25px;
	border-radius: 5px;
	text-align: center;
}
.navigation .navbar .dropdown-menu *{
	color: white !important;
}
.user-image-for-edit img
{
	height: 60px;
}
.item_user .image_user{
	width: 75px;
	height: 75px;
	border-radius: 100px;
	overflow: hidden;
	margin-right: 15px;

}
/*listado de usuarios(gente)*/
.item_user .image_user img
{
	width: 120px;
}
.item_user .user_name{
	margin-top: 10px;
}
.item_user .user_name .nickname{
	color: #969393;
}
.item_user .user_name .name_surname{
	color: #00b8ff !important;
	font-weight: bold;
}
.avatar-default{
	width: 100% !important;
}

/*Sidebar*/
.sidebar32{
	width: 32%;
	padding: 0px !important;
}
#user-card{
	padding: 25px;
	width: 32%;

}


#user-card .avatar
{
	width: 75px;
	height: 75px;
	border-radius: 100px;
	overflow: hidden;
	margin-right: 15px;
}
#user-card .avatar img
{
	width: 100%;
}