/*Generales*/
.h1-strong{
	font-size: 35px;
	font-weight: bold;
	margin: 13px;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 20px;
}


/* Cabecera*/
.navigation{
	margin: 0px;
	padding: 0px !important;

	

}
.navigation .navbar
{
	border-radius: 0px !important;
	background: #00b8ff !important;
	border:none;
}
.navigation .navbar *{
	color: white !important;
}