 <div id="publications">
    	<div *ngFor = "let publication of publications" class="item-publication">
    		<div class="panel panel-default">
    			<div class="panel-body">

    				<div class="image_user pull-left">	
						<a href="#">
						<img src="{{url+'get-image-user/'+publication.user.image}}" *ngIf="publication.user.image"/>
						<img src="assets/user-default.png" class="avatar-default" *ngIf="!publication.user.image"/>		
						</a>
					</div>
                    <div>
        				<span class="user_name">{{publication.user.name + ' '+ publication.user.surname}}</span>
                       &nbsp; | &nbsp;
                        <span class="date">{{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</span>
    		        </div>
    				<h4 class="publication-text pull-left">
    				{{publication.text}}
    				</h4>
                    <!--Eliminar publicaciones-->
          
                    <!---->


                    <!--Mostrar y dejar de mostrar imagen -->
                      <div class="col-lg-12" *ngIf="publication.file !='null'">
                    <button class="btn btn-primary pull-right" (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id">
                        <span class="glyphicon glyphicon-eye-open">
                            Mostrar Imagen
                        </span>
                    </button>
                    <button class="btn btn-success pull-right" (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id" >
                        <span class="glyphicon glyphicon-eye-close">
                            Cerrar Imagen
                        </span>
                    </button>
                    </div>

                    <div class="col-lg-12" *ngIf="publication.file != 'null' && showImage == publication._id">
                        <img src="{{url+'get-image-pub/'+publication.file}}" class="col-lg-12" />
                    </div>
                    <!---------------------------------------->
    			</div>
    		</div>
    		
    	</div>
       <div class="col-lg-12 text-center empty" *ngIf="publications && publications.length==0"> Al parecer este usuario no tiene publicaciones :(</div>
        <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
        <p>
            <button class="btn btn-primary" (click)="viewMore()" *ngIf="!noMore"> 
                Ver más publicaciones
            </button>
        </p>
        </div>
    	
    </div>