<div class="col-lg-8 col-lg-offset-2">
	<h1 class="h1-strong">
		{{title}}
	</h1>
	<div id="data-profile" *ngIf="user">
		<div class="avatar"> 
			<img src="{{url+'get-image-user/'+user.image}}" *ngIf="user.image">
			<img src="assets/user-default.png" *ngIf="!user.image">
		</div>

		<div class="user-name">
			<div class="label label-primary" *ngIf ="followed">
				Te sigue
			</div>
			<p class="name">{{user.name+' '+ user.surname}}</p>
			<p class="nick">'{{user.nick}}'</p>
			<div class="follow">
			
			<div>
				<button class="btn btn-primary" *ngIf="!following" (click)="followUser(user._id)">Seguir</button>
				<button class="btn btn-danger" *ngIf="following" (click)="unfollowUser(user._id)" 
				(mouseenter)="mouseEnter(user._id)"
				 (mouseleave)="mouseLeave()"
				  [class.btn-primary]="user._id == followUserOver">
					<span *ngIf="user._id == followUserOver;else following">
				Dejar de seguir
					</span>
					<ng-template #following>
						Siguiendo
					</ng-template>

			</button>
			</div>
			
			
		</div>
		</div>
			<div class="stats" *ngIf="stats">
		<div class="following-data">
			<a href="#">
				<span class="label-stats">
					Número de empleados
				</span>
				<span class="number-stats">

					{{user.employees}}
				</span>
			</a>
		</div>
		<div class="following-data">
			<a href="#">
				<span class="label-stats">
					Ganancias Anuales
				</span>
				<span class="number-stats">

					{{user.anualprofit}}
				</span>
			</a>
		</div>
		<div class="following-data">
			<a href="#">
				<span class="label-stats">
					Puntuación
				</span>
				<span class="number-stats">

					{{user.score}}
				</span>
			</a>
		</div>
	</div>		
	</div>
	<div class="col-lg-12 publications" *ngIf="user">
			<publications [user]="user._id"></publications>
	</div>

<sidebar></sidebar>

</div>
